@charset "utf-8";
/* CSS Document */

.hidden
{
  display: none;
}

#hide
{
  display: none;
}

p
{
  font-family: 'Averia Serif Libre', cursive;
  color: black;
}
h1, h2
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}




h4
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

body
{
  /*background-color: #8FC1E3;*/
}

#body
{
  opacity: 0%;
  transition: 1s;
}

.container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1200px;
}


/* ---------------------INDEX PAGE--------------------- */
.heroImage
{
  width: 100%;
}

#deskTopImage
{
  display: none;
}

.whoWeAre h1
{
  font-weight: 800;
  font-size: 45px;
  padding-bottom: 10px;
  color: #53652b;
}

.whoWeAre p
{
  font-size: 20px;
}

#whoWeAreBut
{
  height: 40px;
  width: 230px;
  background-color: #687864;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  transition: .15s ease-in-out;
}

#whoWeAreBut a
{
  color: #fff;
}

#whoWeAreBut:hover
{
  height: 50px;
  width: 260px;
  font-size: 30px;
  letter-spacing: 2px;
  border-radius: 5px;
}
#whoWeAreBut a
{
  text-decoration: none;
  color: #fff;
}

.box
{
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.box1 img
{
  margin-top: 55px;
}

.box1 h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.box1 p
{
  margin-bottom: 10px;
  font-size: 20px;
}

.box1 button
{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  background-color: #687864;
  opacity: 0.95;
  margin-top: 10px;
  transition: .15s ease-in-out;
}

.box1 button a
{
  color: #fff;
}

.box1 button:hover
{
  transform: scale(1.2);
}

.box2 img
{
  margin-top: 15px;
}

.box2 h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.box2 h4
{
  font-size: 25px;
}

.box2 p
{
  margin-bottom: 10px;
  font-size: 20px;
}

.box2 button
{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  background-color: #687864;
  opacity: 0.95;
  margin-top: 10px;
  transition: .15s ease-in-out;
}

.box2 button a
{
  color: #fff;
}

.box2 button:hover
{
  transform: scale(1.2);
}

.box3 img
{
  margin-top: 15px;
}

.box3 h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.box3 p
{
  margin-bottom: 10px;
  font-size: 20px;
}

.box3 button
{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  background-color: #687864;
  opacity: 0.95;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: .15s ease-in-out;
}

.box3 button a
{
  color: #fff;
}

.box3 button:hover
{
  transform: scale(1.2);
}

.logo
{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#ourImpact
{
  background-color: #6e8b6e;
}

/*Mobile Navigation*/
#mainNav button
{
	background: url(../images/burger.svg) center no-repeat;
	width: 30px;
	height: 30px;
	border: 0px;
	transition: all 400ms ease;
	margin-left: auto;
}

#mainNav button.expanded
{
	-webkit-transfrom: rotate(90deg);
	-ms-transfrom: rotate(90deg);
	transform: rotate(90deg);
  background: url(../images/burger_active.svg) center no-repeat;
	width: 30px;
	height: 30px;
}

#mainNav li a
{
	display: block;
	padding: 10px 0 10px 0; /*trbl*/
	color: #8ea75d;
	text-align: center;
  font-family: 'Averia Serif Libre', cursive;
  color: black;
}

#mainNav li
{
	border-bottom: 1px solid #efefef;
}

#mainNav li:first-child
{
	border-bottom: 1px solid #efefef;
}

#mainNav li:last-child
{
	margin-bottom: 10px;
}

#burgerCon
{
	margin-top: 20px;
	display: none;
}

#burgerCon.slideToggle
{
	display: block;
}

.line1Mobile
{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 0 none;
  margin-top: 30px;
  margin-bottom:30px;
  opacity: 0.2;
}

.line2Mobile
{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 0 none;
  margin-top: 30px;
  margin-bottom:30px;
  opacity: 0.2;
}

#footerMobile
{
  background-color: #A8A8A8;
  height: 300px;
}

#footerMobileCont
{
  padding-top: 30px;
  background-color: #A8A8A8;
}

#backToTopBut
{
  background-color: #808080;
  color: #fff;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
  width: 80%;
}

#footerNavBoxMobile
{
  width: 100px;
  justify-content: space-around;
}

#footerNavMobile ul
{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

#footerNavMobile ul li a
{
  display: block;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px;
}

#footerNavMobile li
{
  flex-basis: 30%;
}

#footerNavMobile a
{
  opacity: 0.5;
}

#footerDesktop
{
  display: none;
}

.footerCopyRightMobile
{
  color: #808080;
  margin-top: 10px;
}

@media screen and (min-width: 640px) {
  #mainHeader{
    display: flex;
    flex-direction: row;
  }

  #mobileImage
  {
    display: none;
  }

  #deskTopImage
  {
    display: block;
  }

  .logo
  {
    margin-left: 10px;
    margin-right: 10px;
    flex: 0 1 220px;
    order: -1;
  }

/*Navigation*/
  .nav
  {
    flex: 0 1 600px;
    margin-left: auto;
    margin-top: 100px;
  }


  #ourImpact
  {
    display: flex;
    flex-direction: row;
  }

  .box
  {
    flex: 1 1 auto;
  }

  .box1 img
  {
    margin-top: 15px;
  }

  .line1
  {
    border-left: 2px solid black;
    height: 250px;
    opacity: 0.08;
    margin-top: 50px;
  }

  .line2
  {
    border-left: 2px solid black;
    height: 250px;
    opacity: 0.08;
    margin-top: 50px;
  }

  .line3
  {
    border-left: 2px solid black;
    height: 250px;
    opacity: 0.08;
    margin-top: 50px;
  }

  #linesMobile
  {
    display: none;
  }

  #footerMobile
  {
    height: 125px;
  }

  #footerNavMobile ul
  {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }

  #footerNavMobile ul li a
  {
    display: block;
    text-decoration: none;
    margin: 0;
    color: #fff;
    height: 80px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20px;
  }

  .footerCopyRightMobile
  {
    padding-bottom: 10px;
  }

}


@media screen and (min-width: 965px){

  #deskTopImage
  {
    display: block;
  }

    /*NAV*/
  .nav
  {
    display: none;
  }

  .logo
  {
    display: none;
  }

  .deskNav
  {
    display: contents;
    display: flex;
  	flex-direction: row;
    justify-content: center;
  }

  .logo_middleDesktop
  {
    margin-top: -280px;
    position: absolute;
    transition: 1.2s ease;
  }

  .logo_middle
  {
    position: absolute;
  }


  #navMainLeft li
  {
    flex-basis: 30%;
  }

  #navMainLeft
  {
    width: 39%;
  	height: 50px;
    /*background-color: #687864;*/
    background-color: #8fb542;
    margin-top: 160px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 17px;
    margin-right: auto;
  }

  #navMainLeft ul
  {
    display: flex;
    flex-direction: row;
  }

  #navMainLeft ul li a
  {
    display: block;
    text-decoration: none;
    padding-top: 17px;
    color: #fff;
    position: relative;
    transition: 0.5s;
    margin-left: 25px;
    margin-right: 10px;
    flex: 1;
  }

  #navMainLeft a
  {
    color: #fff;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #53652b, #53652b 50%, #fff 50%);
  	background-size: 200% 100%;
  	background-position: 100%;
  }

  #navMainLeft a:hover
  {
    transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
    transform: scale(1.3);
  }

  #navMainRight li
  {
    flex-basis: 30%;
  }

  #navMainRight
  {
    width: 39%;
  	height: 50px;
    /*background-color: #687864;*/
    background-color: #8fb542;
    margin-top: 160px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 17px;
    margin-left: auto;
  }

  #navMainRight ul
  {
    display: flex;
    flex-direction: row;
  }

  #navMainRight ul li a
  {
    display: block;
    text-decoration: none;
    padding-top: 17px;
    margin-left: 40px;
    margin-right: 10px;
    color: #fff;
    position: relative;
  }

  #navMainRight a
  {
    color: #fff;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #53652b, #53652b 50%, #fff 50%);
  	background-size: 200% 100%;
  	background-position: 100%;
  }

  #navMainRight a:hover
  {
    transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
    transform: scale(1.3);
  }

  .whoWeAre
  {
    height: 160px;
  }

  .whoWeAre
  {
    margin-top: 30px;
  }

  #footerMobile
  {
    display: none;
  }

#footerDesktop
{
  display: contents;
  height: 150px;
  background-color: #A8A8A8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footerLogo
{
  height: 120px;
	width: 120px;
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
  margin-left: auto;
  margin-top: 25px;
  opacity: 0.75;
}

#footerNavBox
{
  width: 100px;
}

#footerNav ul
{
  display: flex;
  flex-direction: row;
  padding-top: 70px;
}

#footerNav ul li a
{
  display: block;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  height: 80px;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 16px;
}

#footerNav li
{
  flex-basis: 30%;
}

#footerNav a
{
  opacity: 0.5;
  transition: 0.5s;
}
#footerNav a:hover
{
  opacity: 1;
}

.footerFormBox
{
  margin-top: 70px;
}

.footerForm p
{
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  padding-bottom: 10px;
}

#footerFormBut
{
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
}
.footerForm input
{
  height: 19px;
  border: none;
  background-color: #fff;
  opacity: 0.8;
}

}

/* ---------------------ABOUT US PAGE--------------------- */

#heroText
{
  font-size: 40px;
  padding-bottom: 10px;
}

#us
{
  color: #53652b;
}

.aboutUsInfoBox
{
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.aboutUsInfoBox h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}

.aboutUsInfoBox4
{
  margin-bottom: 20px;
}

/* LINES */
.line1MobileAbout
{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 0 none;
  margin-top: 20px;
  margin-bottom:20px;
  opacity: 0.2;
}

.traaInfoHeading
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: #53652b;
  width: 70%;
  margin: 0 auto;
}

#traaInfo
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 17px;
  background-color: #8fb542;
  height: auto;
  padding-bottom: 20px;
}

#traaInfo li
{
  margin: 20px;
  color: white;
  text-align: left;
}

#video h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}


/* #charts h2
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px;
  padding-bottom: 5px;
}

#charts p
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 15px;
  padding-bottom: 5px;
} */

@media screen and (min-width: 640px) {

  /* #aboutUsInfo
  {
    display: flex;
    flex-direction: row;
  } */

  #heroText
  {
    font-size: 50px;
  }

  #aboutUsInfoTop
  {
  	display: flex;
  }

  .aboutUsInfoBox1
  {
    flex-grow: 1;
  }

  .aboutUsInfoBox2
  {
    flex-grow: 1;
  }

  #aboutUsInfoBottom
  {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
  .traaInfoHeading
  {
    margin-top: 10px;
    padding-top: 30px;
  }

  .traaInfoHeading h2
  {
     margin-bottom: 20px;
  }


/* LINES */
.line1About
{
  border-left: 2px solid black;
  height: 100px;
  opacity: 0.08;
  margin-top: 50px;
}

.line2About
{
  display: none;
}

.line3About
{
  border-left: 2px solid black;
  height: 100px;
  opacity: 0.08;
  margin-top: 50px;
}



#linesMobileAbout
{
  display: none;
}

}

@media screen and (min-width: 965px){

  #heroText
  {
    font-size: 55px;
    margin-top: 100px;
  }

  #aboutUsInfo
  {
    display: flex;
    flex-direction: row;
  }

  /* LINES */

  .line1About
  {
    border-left: 2px solid black;
    height: 150px;
    opacity: 0.08;
    margin-top: 30px;
  }

  .line2About
  {
    display: block;
    border-left: 2px solid black;
    height: 150px;
    opacity: 0.08;
    margin-top: 30px;
  }

  .line3About
  {
    border-left: 2px solid black;
    height: 150px;
    opacity: 0.08;
    margin-top: 30px;
  }

  #linesMobileAbout
  {
    display: none;
  }

  .aboutUsInfoBox
  {
    margin: 10px;
    justify-content: space-between;
  }

}

/* ---------------------PAST EVENTS--------------------- */

.desktopTextEvents
{
  display: none;
}

#heroTextEventsa h1
{
  font-size: 50px;
  margin-bottom: 50px;
  color: black;
  margin-top: 30px;
}



/* timeline */


/* dates */
#event2019
{
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 20px;
}

#event2018
{
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 20px;
}

#event2017
{
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 20px;
}

/* event 1 */
.dot1, .dot2, .dot3, .dot4
{
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
}

#event1a
{
  width: 60%;
  background-color: #fff;
  /* margin-bottom: 200px; */
  /* margin-left: 17.4%; */
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 20px;
}


#imageEvent1a
{
  display: none;
}

#textEvent1a h2
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #53652b;
  padding-bottom: 10px;
  padding-top: 5px;
}

#textEvent1a h3
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #53652b;
  padding-top: 5px;
}

/* EVENT 2 */

#event2a
{
  width: 60%;
  background-color: #fff;
  margin-bottom: 200px;
  /* margin-left: 17.4%; */
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 20px;
}

#imageEvent2a
{
  display: none;
}

#textEvent2a h2
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #53652b;
  padding-bottom: 10px;
  padding-top: 5px;
}

#textEvent2a h3
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #53652b;
  padding-top: 5px;
}

/* EVENT 3 */

#event3a
{
  width: 60%;
  background-color: #fff;
  margin-bottom: 200px;
  /* margin-left: 17.4%; */
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 20px;
}

#imageEvent3a
{
  display: none;
}

#textEvent3a h2
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #53652b;
  padding-bottom: 10px;
  padding-top: 5px;
}

#textEvent3a h3
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #53652b;
  padding-top: 5px;
}

/* EVENT 4 */

#event4a
{
  width: 60%;
  background-color: #fff;
  margin-bottom: 200px;
  /* margin-left: 17.4%; */
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  padding-bottom: 5px;
}

#imageEvent4a
{
  display: none;
}

#textEvent4a h2
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #53652b;
  padding-bottom: 10px;
  padding-top: 5px;
}

#textEvent4a h3
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #53652b;
  padding-top: 5px;
}

@media screen and (min-width: 520px){

  #imageEvent1a, #imageEvent2a, #imageEvent3a, #imageEvent4a
  {
    display: contents;
    padding-top: 10px;
  }

}

@media screen and (min-width: 640px){

  #heroTextEventsa h1
  {
    font-size: 65px;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  #event1a
  {
    width: 60%;
    background-color: #fff;
    margin-bottom: 200px;
    /* margin-left: 17.4%; */
    height: 100%;
    text-align: center;
    margin: 0 auto;
    /* margin-top: -1450px; */
    padding-bottom: 20px;
  }

  /* #imageEvent1a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #textEvent1a h2
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #53652b;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  #textEvent1a h3
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #53652b;
    padding-top: 5px;
  }

  /* EVENT 2 */

  #event2a
  {
    width: 60%;
    background-color: #fff;
    margin-bottom: 200px;
    /* margin-left: 17.4%; */
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
  }

  /* #imageEvent2a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #textEvent2a h2
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #53652b;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  #textEvent2a h3
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #53652b;
    padding-top: 5px;
  }

  /* EVENT 3 */

  #event3a
  {
    width: 60%;
    background-color: #fff;
    margin-bottom: 200px;
    /* margin-left: 17.4%; */
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
  }

  /* #imageEvent3a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #textEvent3a h2
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #53652b;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  #textEvent3a h3
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #53652b;
    padding-top: 5px;
  }

  /* EVENT 4 */

  #event4a
  {
    width: 60%;
    background-color: #fff;
    margin-bottom: 200px;
    /* margin-left: 17.4%; */
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
  }

  /* #imageEvent4a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #textEvent4a h2
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #53652b;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  #textEvent4a h3
  {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #53652b;
    padding-top: 5px;
  }

}

@media screen and (min-width: 965px){

  #heroTextEventsa h1
  {
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 120px;
  }

  /* EVENT 1 */

  /* #imageEvent1a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #event1a
  {
    transition: 1s ease;
  }

  #event1a:hover
  {
    transform: scale(1.2);
  }

  #event2a
  {
    transition: 1s ease;
  }

  #event2a:hover
  {
    transform: scale(1.2);
  }

  #event3a
  {
    transition: 1s ease;
  }

  #event3a:hover
  {
    transform: scale(1.2);
  }

  #event4a
  {
    transition: 1s ease;
  }

  #event4a:hover
  {
    transform: scale(1.2);
  }

  #textEvent1a h2
  {
    font-size: 50px;
  }

  #textEvent1a h3
  {
    font-size: 30px;
  }

  #textEvent1a p
  {
    font-size: 22px;
  }

  /* EVENT 2 */

  /* #imageEvent2a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #textEvent2a h2
  {
    font-size: 50px;
  }

  #textEvent2a h3
  {
    font-size: 30px;
  }

  #textEvent2a p
  {
    font-size: 22px;
  }

  /* EVENT 3 */

  /* #imageEvent3a
  {
    width: 300px;
    height: 150px;
    background-color: blue;
    margin-top: 70px;
    margin-left: 225px;
  } */

  #textEvent3a h2
  {
    font-size: 50px;
  }

  #textEvent3a h3
  {
    font-size: 30px;
  }

  #textEvent3a p
  {
    font-size: 22px;
  }

  #textEvent4a h2
  {
    font-size: 50px;
  }

  #textEvent4a h3
  {
    font-size: 30px;
  }

  #textEvent4a p
  {
    font-size: 22px;
  }

}


.footerPastEvents
{
  margin-top: 100px;
}

/* ----------------PROJECTS PAGE----------------- */

#traaProjectH1
{
  font-size: 40px;
}

#usProjects
{
  font-size: 40px;
  color: #53652b
}

#traaProjectsHeading h2
{
  margin-left: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

#projects
{
  line-height: 25px;
}

#projects button
{
  height: 40px;
  width: 40%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project1 h1
{
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project1 p
{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.project2 h1
{
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project2 p
{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.project3 h1
{
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project3 p
{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 640px){

  #traaProjectH1
  {
    font-size: 55px;
  }

  #usProjects
  {
    font-size: 55px;
    color: #53652b
  }

  #traaProjectsHeading h2
  {
    margin-left: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  .project1 h1
  {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project1 p
  {
    font-size: 20px;
  }

  .project2 h1
  {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project2 p
  {
    font-size: 20px;
  }

  .project3 h1
  {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project3 p
  {
    font-size: 20px;
  }

}

@media screen and (min-width: 965px){

  #traaProject
  {
    margin-top: 120px;
  }

  #projects
  {
    display: flex;
    flex-direction: row;
  }

  .projectBox
  {
    flex: 1 1 auto;
  }

  .project1
  {
    width: 30%;
    margin: 10px;
    margin-left: 20px;
    transition: 1s ease;
  }

  .project1:hover
  {
    transform: scale(1.05);
  }

  .project1 h1
  {
    margin-bottom: 15px;
  }

  .project2
  {
    width: 30%;
    margin: 10px;
    transition: 1s ease;
  }

  .project2:hover
  {
    transform: scale(1.05);
  }

  .project2 h1
  {
    margin-bottom: 15px;
  }

  .project3
  {
    width: 30%;
    margin: 10px;
    margin-right: 20px;
    transition: 1s ease;
  }

  .project3:hover
  {
    transform: scale(1.05);
  }

  .project3 h1
  {
    margin-bottom: 15px;
  }

}

/* ----------------------LINKS PAGE----------------------- */

#linksHeading
{
  margin-top: 25px;
  font-size: 40px;
}

#link
{
   color: #53652b;
}

#links a
{
  transition: 0.5s ease;
}

#links a:hover
{
  color: #fff;
}

#content1, #content2, #content3, #content4
{
  width: 100%;
  background-color: #8fb542;
  padding-top: 5px;
  padding-bottom: 15px;
}

#content1
{
  background-color: #6e8b6e;
}

#content3
{
  background-color: #6e8b6e;
}

#content1 h3
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 35px;
  /* color: #53652b; */
  color: #8fb542;
  margin-top: 20px;
  margin-bottom: 10px;
}

#content2 h3
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 30px;
  color: #53652b;
  margin-top: 20px;
  margin-bottom: 10px;
}

#content3 h3
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 35px;
  /* color: #53652b; */
  color: #8fb542;
  margin-top: 20px;
  margin-bottom: 10px;
}

#content4 h3
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 35px;
  color: #53652b;
  margin-top: 20px;
  margin-bottom: 10px;
}

#content5 h3
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 35px;
  color: #53652b;
  margin-top: 20px;
  margin-bottom: 10px;
}

#content1 p a
{
  font-size: 18px;
  color: black;
}

#content2 p a
{
  color: black;
  font-size: 18px;
}

#content3 p a
{
  color: black;
  font-size: 18px;
}

#content4 p a
{
  color: black;
  font-size: 18px;
}

#content5 p a
{
  color: black;
  font-size: 18px;
}

#content4 p
{
  margin: 20px;
}

@media screen and (min-width: 640px){

  #linksHeading
  {
    font-size: 45px;
  }

  #content1 h3
  {
    font-size: 40px;
  }

  #content2 h3
  {
    font-size: 40px;
  }

  #content3 h3
  {
    font-size: 40px;
  }

  #content4 h3
  {
    font-size: 40px;
  }

  #content5 h3
  {
    font-size: 40px;
  }

  #content1 p a
  {
    font-size: 22px;
  }

  #content2 p a
  {
    font-size: 22px;
  }

  #content3 p a
  {
    font-size: 22px;
  }

  #content4 p a
  {
    font-size: 22px;
  }

  #content5 p a
  {
    font-size: 22px;
  }

}

@media screen and (min-width: 960px){

  #linksHeading
  {
    margin-top: 120px;
    font-size: 55px;
  }

  #links
  {
    display: flex;
    flex-direction: row;
  }

  .boxLinks
  {
    flex: 1 1 auto;
  }

  #content1, #content2, #content3, #content4
  {
    width: 30%;
  }

}


/* ----------------------CONTACT PAGE----------------------- */

/*
#heroContact img

{
  display: none;
}

.heroText1
{
  margin: 0 auto;
  margin: 20px;
  font-size: 50px;
}

#us
{
  color: #53652b;
}



#contactText h2
{
  margin: 0 auto;
  font-size: 30px;
  margin: 10px;
}

#contactText p
{
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.contact-form h1
{
  margin: 20px;
  font-size: 30px;
  color: #53652b;
}

.text
{
  margin: 20px;
}

.btn
{
  display: inline-block;
  background: #8495a5;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 10px;
}

.btn:hover, button:hover {
  background: gray;
}



#mapArea
{
  max-width: 100%;
} */
