@charset "utf-8";
/* CSS Document */

.hidden
{
  display: none;
}

#hide
{
  display: none;
}

p
{
  font-family: 'Averia Serif Libre', cursive;
  color: black;
}
h1
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
h4
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

body
{
  /*background-color: #8FC1E3;*/
}

.container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1200px;
}


/* INDEX PAGE */
.heroImage
{
  width: 100%;
}

#deskTopImage
{
  display: none;
}

.whoWeAre h1
{
  font-weight: 800;
  font-size: 45px;
  padding-bottom: 10px;
  color: #53652b;
}

.whoWeAre p
{
  font-size: 20px;
}

#whoWeAreBut
{
  height: 40px;
  width: 230px;
  background-color: #687864;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
#whoWeAreBut a
{
  color: #fff;
}

.box
{
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.box1 img
{
  margin-top: 55px;
}

.box1 h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.box1 p
{
  margin-bottom: 10px;
  font-size: 20px;
}

.box1 button
{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  background-color: #687864;
  opacity: 0.95;
  margin-top: 10px;
}

.box1 button a
{
  color: #fff;
}

.box2 img
{
  margin-top: 15px;
}

.box2 h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.box2 h4
{
  font-size: 25px;
}

.box2 p
{
  margin-bottom: 10px;
  font-size: 20px;
}

.box2 button
{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  background-color: #687864;
  opacity: 0.95;
  margin-top: 10px;
}

.box2 button a
{
  color: #fff;
}

.box3 img
{
  margin-top: 15px;
}

.box3 h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

.box3 p
{
  margin-bottom: 10px;
  font-size: 20px;
}

.box3 button
{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  background-color: #687864;
  opacity: 0.95;
  margin-top: 10px;
}

.box3 button a
{
  color: #fff;
}

.logo
{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#ourImpact
{
  background-color: #6e8b6e;
}

/*Mobile Navigation*/
#mainNav button
{
	background: url(../images/burger.svg) center no-repeat;
	width: 30px;
	height: 30px;
	border: 0px;
	transition: all 400ms ease;
	margin-left: auto;
}

#mainNav button.expanded
{
	-webkit-transfrom: rotate(90deg);
	-ms-transfrom: rotate(90deg);
	transform: rotate(90deg);
  background: url(../images/burger_active.svg) center no-repeat;
	width: 30px;
	height: 30px;
}

#mainNav li a
{
	display: block;
	padding: 10px 0 10px 0; /*trbl*/
	color: #8ea75d;
	text-align: center;
  font-family: 'Averia Serif Libre', cursive;
  color: black;
}

#mainNav li
{
	border-bottom: 1px solid #efefef;
}

#mainNav li:first-child
{
	border-bottom: 1px solid #efefef;
}

#mainNav li:last-child
{
	margin-bottom: 10px;
}

#burgerCon
{
	margin-top: 20px;
	display: none;
}

#burgerCon.slideToggle
{
	display: block;
}

.line1Mobile
{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 0 none;
  margin-top: 30px;
  margin-bottom:30px;
  opacity: 0.2;
}

.line2Mobile
{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 0 none;
  margin-top: 30px;
  margin-bottom:30px;
  opacity: 0.2;
}

#backToTopBut
{
  background-color: #687864;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
}

#footerMobile
{
  background-color: #6e8b6e;

  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footerDesktop
{
  display: none;
}

@media screen and (min-width: 640px) {
  #mainHeader{
    display: flex;
    flex-direction: row;
  }

  #mobileImage
  {
    display: none;
  }

  #deskTopImage
  {
    display: block;
  }

  .logo
  {
    margin-left: 10px;
    margin-right: 10px;
    flex: 0 1 220px;
    order: -1;
  }

/*Navigation*/
  .nav
  {
    flex: 0 1 600px;
    margin-left: auto;
    margin-top: 100px;
  }


  #ourImpact
  {
    display: flex;
    flex-direction: row;
  }

  .box
  {
    flex: 1 1 auto;
  }

.box1 img
{
  margin-top: 15px;
}

.line1
{
  border-left: 2px solid black;
  height: 250px;
  opacity: 0.08;
  margin-top: 50px;

}
.line2
{
  border-left: 2px solid black;
  height: 250px;
  opacity: 0.08;
  margin-top: 50px;
}
.line3
{
  border-left: 2px solid black;
  height: 250px;
  opacity: 0.08;
  margin-top: 50px;
}


#linesMobile
{
  display: none;
}

}


@media screen and (min-width: 965px){

  #deskTopImage
  {
    display: block;
  }

    /*NAV*/
  .nav
  {
    display: none;
  }

  .logo
  {
    display: none;
  }

  .deskNav
  {
    display: contents;
    display: flex;
  	flex-direction: row;
    justify-content: center;
  }

  #logo_middle
  {
    margin-top: 20px;
    position: absolute;
  }

  #navMainLeft li
  {
    flex-basis: 30%;
  }

  #navMainLeft
  {
    width: 39%;
  	height: 50px;
    /*background-color: #687864;*/
    background-color: #8fb542;
    margin-top: 160px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 17px;
    margin-right: auto;
  }

  #navMainLeft ul
  {
    display: flex;
    flex-direction: row;
  }

  #navMainLeft ul li a
  {
    display: block;
    text-decoration: none;
    padding-top: 17px;
    color: #fff;
    position: relative;
    transition: 0.5s;
    margin-left: 25px;
    margin-right: 10px;
    flex: 1;
  }

  #navMainLeft a
  {
    color: #fff;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #53652b, #53652b 50%, #fff 50%);
  	background-size: 200% 100%;
  	background-position: 100%;
  }

  #navMainLeft a:hover
  {
    transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
    transform: scale(1.3);
  }

  #navMainRight li
  {
    flex-basis: 30%;
  }

  #navMainRight
  {
    width: 39%;
  	height: 50px;
    /*background-color: #687864;*/
    background-color: #8fb542;
    margin-top: 160px;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 17px;
    margin-left: auto;
  }

  #navMainRight ul
  {
    display: flex;
    flex-direction: row;
  }

  #navMainRight ul li a
  {
    display: block;
    text-decoration: none;
    padding-top: 17px;
    margin-left: 40px;
    margin-right: 10px;
    color: #fff;
    position: relative;
  }

  #navMainRight a
  {
    color: #fff;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #53652b, #53652b 50%, #fff 50%);
  	background-size: 200% 100%;
  	background-position: 100%;
  }

  #navMainRight a:hover
  {
    transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
    background-position: 0%;
    transform: scale(1.3);
  }

  .whoWeAre
  {
    height: 160px;
  }

  .whoWeAre
  {
    margin-top: 30px;
  }

  #footerMobile
  {
    display: none;
  }

#footerDesktop
{
  display: contents;
  height: 150px;
  background-color: #687864;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footerLogo
{
  height: 120px;
	width: 120px;
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
  margin-left: auto;
  margin-top: 25px;
  opacity: 0.75;
}

#footerNavBox
{
  width: 100px;
}

#footerNav ul
{
  display: flex;
  flex-direction: row;
  padding-top: 70px;
}

#footerNav ul li a
{
  display: block;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  height: 80px;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 16px;
}

#footerNav li
{
  flex-basis: 30%;
}

#footerNav a
{
  opacity: 0.5;
  transition: 0.5s;
}
#footerNav a:hover
{
  opacity: 1;
}

.footerFormBox
{
  margin-top: 70px;

}

.footerForm p
{
  font-family: 'Averia Serif Libre', cursive;
  color: #fff;
  padding-bottom: 10px;
}

#footerFormBut
{
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 20px;
  radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
}
.footerForm input
{
  height: 19px;
  border: none;
}

}

/* ABOUT US PAGE */

#heroText
{
  font-size: 40px;
  padding-bottom: 10px;
}

#us
{
  color: #53652b;
}

.aboutUsInfoBox
{
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.aboutUsInfoBox h1
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}

.aboutUsInfoBox4
{
  margin-bottom: 20px;
}

/* LINES */
.line1MobileAbout
{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 0 none;
  margin-top: 20px;
  margin-bottom:20px;
  opacity: 0.2;
}

.traaInfoHeading
{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: #53652b;
  width: 70%;
  margin: 0 auto;
}

#traaInfo
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 17px;
  background-color: #8fb542;
  height: auto;
  padding-bottom: 20px;
}

#traaInfo li
{
  margin: 20px;
  color: white;
  text-align: left;
}

#charts h2
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 20px;
  padding-bottom: 5px;
}

#charts p
{
  font-family: 'Averia Serif Libre', cursive;
  font-size: 15px;
  padding-bottom: 5px;
}




@media screen and (min-width: 640px) {

  /* #aboutUsInfo
  {
    display: flex;
    flex-direction: row;
  } */

  #heroText
  {
    font-size: 50px;
  }

  #aboutUsInfoTop
  {
  	display: flex;
  }

  .aboutUsInfoBox1
  {
    flex-grow: 1;
  }

  .aboutUsInfoBox2
  {
    flex-grow: 1;
  }

  #aboutUsInfoBottom
  {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
  .traaInfoHeading
  {
    margin-top: 10px;
    padding-top: 30px;
  }

  .traaInfoHeading h2
  {
     margin-bottom: 20px;
  }


/* LINES */
.line1About
{
  border-left: 2px solid black;
  height: 100px;
  opacity: 0.08;
  margin-top: 50px;

}
.line2About
{
  border-left: 2px solid black;
  height: 100px;
  opacity: 0.08;
  margin-top: 50px;

}

#linesMobileAbout
{
  display: none;
}

}

@media screen and (min-width: 965px){

  #heroText
  {
    font-size: 55px;
    margin-top: 100px;
  }

  #aboutUsInfo
  {
    display: flex;
    flex-direction: row;
  }

  /* LINES */
  .line1About
  {
    border-left: 2px solid black;
    height: 200px;
    opacity: 0.08;
    margin-top: 30px;
  }

  .line2About
  {
    border-left: 2px solid black;
    height: 200px;
    opacity: 0.08;
    margin-top: 30px;
  }

  .line3About
  {
    border-left: 2px solid black;
    height: 200px;
    opacity: 0.08;
    margin-top: 30px;
  }

  #linesMobileAbout
  {
    display: none;
  }

  .aboutUsInfoBox
  {
    margin: 10px;
    width: 211px;
  }

}
